.linea {
    border: 2px solid black
}

.cajaSubMenu {
    display: none;
}

.esconder {
    display: none;
}

.cajaFoto {

    width: 100%;
    min-width: 150px;
    max-width: 300px;
    border: 1px solid #F7ECDE;
}

.llegaGratisMañana {

    background-color: #FBF8F1;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    margin-left: 20%;
    margin-bottom: 12px;
    font-size: 12px;
    height: 20px;
    border: 1px solid #F7ECDE;
    display: flex;
    align-items: center;
}

#columnaTarjeta {
    height: 100%;
}

.fotoProducto {
    height: 150px;
}

#containerMostrarProducto {

    max-width: 1100px;
    height: 100%;
    border-left: 1px solid #C3C0C0;
    border-right: 1px solid #C3C0C0;
    box-shadow: -4px 0px 6px -1px rgba(195, 192, 192, 0.95), 4px 0px 6px -1px rgba(195, 192, 192, 0.95);
    -webkit-box-shadow: -4px 0px 6px -1px rgba(195, 192, 192, 0.95), 4px 0px 6px -1px rgba(195, 192, 192, 0.95);
    -moz-box-shadow: -4px 0px 6px -1px rgba(195, 192, 192, 0.95), 4px 0px 6px -1px rgba(195, 192, 192, 0.95);

}

.cajaSubCategorias {

    margin: 10px;
    min-width: 100px;
    max-width: 150px;
    width: 100%;
    height: 150px;
    text-decoration: none;
    border: 1px solid #8A8282;
}

.cajaSubCategorias:hover {

    background-color: #FBF8F1;
    border: 1px solid #8A8282;
    border-radius: 10px 10px 10px 10px;
    -webkit-transition: all 0.2s 0s ease-in-out;
    -moz-transition: all 0.2s 0s ease-in-out;
    -o-transition: all 0.2s 0s ease-in-out;
    transition: all 0.2s 0s ease-in-out;
}

#tituloSubCategoria {
    text-align: center;
}

#tituloSubCategoria:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.2s 0s ease-in-out;
    -moz-transition: all 0.2s 0s ease-in-out;
    -o-transition: all 0.2s 0s ease-in-out;
    transition: all 0.2s 0s ease-in-out;
}

#cajaProducto {
    text-decoration: none;
    width: 70%;
    border: 0.5px solid #8A8282;
}

#imagenProducto {
    width: 100%;
    max-width: 90px;
    height: 100%;
    max-height: 90px;
    padding: 10px;
}

#imagenProducto:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.2s 0s ease-in-out;
    -moz-transition: all 0.2s 0s ease-in-out;
    -o-transition: all 0.2s 0s ease-in-out;
    transition: all 0.2s 0s ease-in-out;
}

.precioProducto {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: larger;
    color: #8A8282;
}

.precioProductoMoneda {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 35px;
    font-size: small;
    color: #E9DAC1;
}

#cajaProducto:hover {
    -webkit-box-shadow: 0px 0px 3px 1px #8A8282;
    box-shadow: 0px 0px 3px 1px #8A8282;
    -webkit-transition: all 0.1s 0s linear;
    -moz-transition: all 0.1s 0s linear;
    -o-transition: all 0.1s 0s linear;
    transition: all 0.1s 0s linear;
}

#categoria:hover {
    background-color: #54BAB9;
}

#subCategoriaCelda:hover {
    background-color: #54BAB9;
}

@media (min-width: 576px) {

    .fotoProducto {
        border-right: 0.5px solid #8A8282;
    }

    .productoCompleto {
        padding: 30px;
    }

}

@media (max-width: 576px) {

    .fotoProducto {
        border-bottom: 0.5px solid #8A8282;
        margin-bottom: 20px;
    }


    .llegaGratisMañana {

        background-color: #FBF8F1;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 10px;
        margin-left: 5%;
        margin-bottom: 14px;
        font-size: 12px;
        height: 20px;
        border: 1px solid #F7ECDE;
        display: flex;
        align-items: center;
    }

}