.columnaCarrousel{
    width: 300px;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imagenCarrousel{
    width: auto;
    max-width: 190px;
    height: auto;
    max-height: 200px;

}

.titulosProducto{

    text-align: center;
    width: 100%;
    font-size: large;
    color: #8d8475;
}

#imagenOferta{
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    min-width: 200px;
    max-width: 900px;
    height: auto;
    max-height: 200px;
}

.signoMayor{

    background-color: #C3C0C0;
    color: white;
    height: 35px;
    width: 35px;
    display: flex;
    margin: 0;
    border-radius: 50%;
}

#columnaTitulo{
    height: auto;
    max-height: 200px;
}


