.columnaCarrousel{
    width: 300px;
    height: 300px;
    border: 1px solid #C3C0C0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imagenCarrousel{
    width: auto;
    max-width: 190px;
    height: auto;
    max-height: 200px;

}

.signoMayor{

    background-color: #C3C0C0;
    color: white;
    height: 35px;
    width: 35px;
    display: flex;
    margin: 0;
    border-radius: 50%;
}

#columnaTitulo{
    height: auto;
    max-height: 200px;
    border: 1px solid black
}


