body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

#boton {
    width: 40px;
    border-radius: 40px;
    height: 40px;
    background-color: #FBF8F1;
    border: none;
}

#columnaBuscador {
    height: 40px;
    width: 80px;
}

#signoMas {
    width: 100%;
}

.numeroCantidad {

    font-size: 30px;
    color: #918878;
}

#columnaBoton {
    width: 90%;
    margin-left: 5%;
    border-bottom: 1px solid #918878;
    border-left: 1px solid #918878;
    border-right: 1px solid #918878;
    padding-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
}

#buscador {
    border-radius: 40px;
    height: 40px;
    min-width: 100px;
}

#buscador:hover {
    background-color: #FBF8F1;
}

#buscador:focus {
    border: none;
    box-shadow: none;
}

#lupa {
    height: 20px;
}

.formBuscador {
    width: 100%;
    min-width: 300px;
    max-width: 600px;
}

#imagenProductoColumna {
    width: auto;
    max-width: 40px;
    height: auto;
    max-height: 40px;
}

#cajaImagenProducto {
    height: 50px;
    width: 50px;
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 5px;
    border: 1px solid #C3C0C0;
}

#imagenProductoPrincipal {
    margin: 20px;
    height: auto;
    max-height: 350px;
    width: auto;
    max-width: 300px;
    min-width: auto;
}

#botonMas {

    background-color: #54BAB9;
    border: none;
    border-radius: 40px;
    height: 40px;
    width: 40px;
}

#botonMas:focus {
    box-shadow: none;
}

#agregarAlCarrito {
    background-color: #54BAB9;
    border: #54BAB9;
    border-radius: 25px;
}

#agregarAlCarrito:focus {
    box-shadow: none;
}

#agregarAlCarrito:active{

    background-color: #82cbca;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all 0.2s 0s ease;
    -moz-transition: all 0.2s 0s ease;
    -o-transition: all 0.2s 0s ease;
    transition: all 0.2s 0s ease;
}

#botonMas:active {

    background-color: #82cbca;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.2s 0s ease;
    -moz-transition: all 0.2s 0s ease;
    -o-transition: all 0.2s 0s ease;
    transition: all 0.2s 0s ease;
}

#botonMenos:active {

    background-color: #82cbca;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.2s 0s ease;
    -moz-transition: all 0.2s 0s ease;
    -o-transition: all 0.2s 0s ease;
    transition: all 0.2s 0s ease;
}

#botonMenos:focus {
    box-shadow: none;
}

.descripcionVendidos {
    text-align: right;
    font-size: smaller;
    color: #C3C0C0;
    display: flex;
    justify-content: end;
    align-items: center;
}

#botonMenos {

    background-color: #54BAB9;
    border: none;
    border-radius: 40px;
    height: 40px;
    width: 40px;
}

.producto {
    height: 100%;
    width: 100%;
    margin-top: 800px;
    margin-bottom: 10px;
    max-width: 80%;
    background-color: white;
    border: 1.5px solid #C3C0C0;
    border-radius: 2px;
    overflow: hidden;
}

#columnaFotos {
    margin-top: 25px;
    max-height: 510px;
    overflow: hidden
}

#cajaImagenProducto:hover {
    border: 1.5px solid #54BAB9;
}

#columnaDescripcion {
    height: 480px;
    margin-top: 30px;
    border: 0.5px solid #C3C0C0;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 25px;
    padding-bottom: 15px;
}

#carouselFotos {
    height: auto;
    max-height: 350px;
    width: auto;
    padding: 20px;
    margin: auto;
}

#carouselCuerpo {
    visibility: hidden;
    display: none;
}

.nombreCaracteristicas {

    border: .5px solid #C3C0C0;
    background-color: #e8e8e8;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
    border-radius: 3px;
    font-weight: bold;
}

.valorCaracteristicas {

    border: .5px solid #C3C0C0;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
    border-radius: 3px;
    text-align: center;
    font-size: medium;
}

.tituloProducto {
    color: #918878;
    font-weight: bold;
    text-align: justify;
}

.precio {
    color: #918878;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 50px;
    margin-right: 15px;
}

#cantidad {
    color: #918878;
    text-align: center;
    font-size: small;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    border-top: 1px solid #918878;
    border-left: 1px solid #918878;
    border-right: 1px solid#918878;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
}

.stockDisponible {

    color: #918878;
    font-size: small;
    text-align: center;
    padding-top: 5px;
}

#containerMostrarProducto {

    background-color: white;
    max-width: 1100px;
    height: 100%;
    border-left: 1px solid #C3C0C0;
    border-right: 1px solid #C3C0C0;
    box-shadow: -4px 0px 6px -1px rgba(195, 192, 192, 0.95), 4px 0px 6px -1px rgba(195, 192, 192, 0.95);
    -webkit-box-shadow: -4px 0px 6px -1px rgba(195, 192, 192, 0.95), 4px 0px 6px -1px rgba(195, 192, 192, 0.95);
    -moz-box-shadow: -4px 0px 6px -1px rgba(195, 192, 192, 0.95), 4px 0px 6px -1px rgba(195, 192, 192, 0.95);
}


@media (max-width: 768px) {

    #carouselCuerpo {
        visibility: visible;
        display: contents;
        width: auto;
    }

    #columnaFotos {
        visibility: hidden;
        display: none;
        height: 0px;
    }

    #imagenColumnaPrincipal {
        visibility: hidden;
        display: none;
        height: 0px;
    }

    .tituloProducto {
        color: #918878;
        font-weight: bold;
        text-align: center;
    }

    .descripcionVendidos {
        text-align: center;
        font-size: smaller;
        color: #C3C0C0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .precio {
        color: #918878;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        font-size: 50px;
        margin-right: 15px;
    }


}

@media (max-width: 1010px) and (min-width: 768px) {

    .precio {
        color: #918878;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        font-size: 30px;
        margin-right: 15px;
    }

}